* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline-style: none;
    border: none;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
}

a {
    color: #fff;
}

.nav {
    background-color: #43a047;
    height: 50px;
    position: sticky;
    top: 0;
}

.navv {
    height: 50px;
    display: flex;
    justify-content: center;
}

.navv-1 {
    height: 50px;
    width: 1200px;
    padding: 0 15px;
    display: flex;
    direction: ltr;
}

.navv-11>a {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    height: 50px;
}

.navv-11>a>img {
    height: 28px;
    vertical-align: middle;
}

.navv-12 {
    display: flex;
    justify-content: center;
    margin-left: 400px;
}

.navv-12>li:hover {
    background-color: #76d275;
}

.navv-12>li:hover>a {
    color: #444;
}

.navv-12>li>a {
    display: inline-block;
    padding: 15px 15px;
    line-height: 20px;
}

.navv-13 {
    padding: 10px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navv-13>div {
    display: inline-block;
    vertical-align: middle;
}

.navv-13 input {
    display: inline-block;
    background-color: #76d275;
    margin-top: 2px;
    width: 150px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

input::-webkit-input-placeholder {
    color: #fff;
}

.navv-14>li>a {
    display: inline-block;
    padding: 15px 15px;
    line-height: 20px;
}

.navv-14>li:hover {
    background-color: #76d275;
}

.navv-14>li:hover>a {
    color: #444;
}

.home {
    background-color: #fafafa;
}

.home-1 {
    height: 320px;
    display: flex;
    align-items: center;
}

.home-11 {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
}

.home-111 {
    width: 1200px;
    padding: 0 15px;
    height: 100%;
    display: flex;
    direction: ltr;
}

.home-1111 {
    width: 67%;
    height: 100%;
    padding: 0 15px;
}

.home-1111p {
    line-height: 22px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #757575;
}

.home-1111>h1 {
    font-size: 36px;
    font-weight: 300;
    color: #444;
    margin-bottom: 15px;
}

.home-1111a1 {
    color: #43a047;
}

.home-1111a1:hover {
    color: #444;
}

.home-1111p a {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 16px;
    line-height: 1.3;
    border-radius: 3px;
    font-weight: 400;
}

.home-1111a2 {
    margin-left: 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #5cb85c;
    color: #fff;
}

.home-1111a2:hover {
    background-color: #43a047;
}

.home-1112 {
    width: 33%;
    height: 180px;
    padding: 0 15px;
    display: flex;
}

.home-1112>img {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 0;
}

.home-2 {
    height: 360px;
    display: flex;
    align-items: center;
    background: white;
}

.home-21 {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
}

.home-211 {
    width: 1200px;
    height: 100%;
    padding: 0 15px;
}

.home-2111 {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #444;
    font-weight: 400;
}

.home-2112 {
    width: 100%;
    display: flex;
    direction: ltr;
    color: #444;
}

.home-2112>div {
    width: 25%;
    padding: 0 20px;
}

h3 {
    color: #444;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    height: 2.6em;
}

.home-2112>div>p {
    font-size: 16px;
    margin-bottom: 10px;
}

.home-3 {
    height: 500px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.home-31 {
    height: 460px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-311 {
    width: 1200px;
    height: 100%;
    padding: 0 15px;
}

.home-3112 {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
}

.home-3112>div {
    height: 80px;
    width: 1200px;
    display: flex;
    justify-content: center;
}

.home-3112>div>div {
    width: 16%;
    padding: 0 15px;
    display: flex;
}

.home-3112>div>div>img {
    width: 150px;
    margin: auto;
}

.home-3113 {
    width: 100%;
    display: flex;
    direction: ltr;
    margin-bottom: 20px;
}

.home-3113>div {
    width: 33.333%;
    padding: 0 15px;
}

.home-3113>div>blockquote {
    padding: 10px 20px;
    font-size: 17.5px;
}

.home-3113 p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #444;
}

.home-3113 footer {
    display: block;
    font-size: 80%;
    color: #777;
}

.home-3113>div>blockquote>div {
    display: flex;
    align-items: center;
    height: 80px;
}

.img1 {
    width: 70px;
}

.img2 {
    width: 150px;
}

.home-4 {
    height: 250px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.home-41 {
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
}

.home-411 {
    width: 1200px;
    height: 100%;
    padding: 0 15px;
}

.home-4112 {
    width: 100%;
    display: flex;
    direction: ltr;
}

.home-4112>div {
    width: 25%;
    padding: 0 20px;
}

.home-4112>div>p {
    font-size: 16px;
    line-height: 22px;
}

.home-4112 a {
    color: #43a047;
}

.home-4112 a:hover {
    text-decoration: underline;
}

.home-5 {
    height: 160px;
    display: flex;
    align-items: center;
}

.home-51 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.home-511 {
    width: 1200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.home-511 a {
    color: #43a047;
}

.home-511 a:hover {
    text-decoration: underline;
}

.home-5111>p {
    font-size: 14px;
    color: #777;
}

.home-511>p>b {
    font-weight: 700;
}

.home-5111 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.home-6 {
    height: 220px;
    display: flex;
    align-items: center;
    background-color: #424242;
}

.home-61 {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
}

.home-611 {
    width: 1200px;
    height: 100%;
    padding: 0 20px;
    color: #fff;
}

.home-6111 {
    display: flex;
    direction: ltr;
}

.home-6111 a {
    color: #e0e0e0;
}

.home-6111 a:hover {
    color: #fff;
}

.home-6111>div {
    width: 16.6666%;
    height: 150px;
    padding: 0 10px;
}

.home-6111>div p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

.home-6112 {
    width: 100%;
    padding: 0 10px;
}